@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BKS INC<br />
    Ruston, LA 71272<br />
    <abbr title="Phone">P:</abbr>
    318.555.1001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bks_inc.com">Support@bks_inc.com</a><br />
</address>