@{
    ViewBag.Title = "News Reader";
}

<div class="jumbotron">
    <h1>News Reader ...</h1>
    <p class="lead">Subscribe to News Feeds and Read News Summaries.</p>
    <p><a href="~/News">Start reading news &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This News Reading is written with ASP.NET MVC 5. 
            Users can subscribe to news feeds, read news listings and summaries. 
            News feeds are stored in database and can be searched.
            Users can choose "Update News" from "News Listing" page to retrieve current news listings.  
        </p>
        <p><a class="btn btn-default" href="~/News">Start now &raquo;</a></p>
    </div>
</div>